html{
  font-size: 16px;
}
.container{
    padding: 5px 10px;
}
h1 {
  font-size: 4rem;
  color: #345980;
}
p {
  padding-top: 5px;
  font-size: 1rem;
}
hr{
  margin: 10px 0;
}
a{
  font-size: 0.8rem;
}
div{
  font-size: 1rem;
}
pre{
  padding: 10px;
  font-size: 1.2rem;
  background-color: #efefef;
  white-space: pre-wrap;
}
input,
textarea,
button{
  font-size: 1rem;
  margin: 5px;
  border: solid 1px #aaa;
  border-radius: 5px;
}
button{
  padding: 1px 10px;
}
hr{
  border-style: none;
  border-top: solid;
  border-width: 5px;
  border-color: #def;
  margin: 20px 0 10px 0;
}
li{
  font-size: 1rem;
  height: 32px;
}
th{
  background-color: #345960;
  color: white;
}
td{
  background-color: aliceblue;
  color: #345960;
  padding: 5px;
}